html {
  font-size: 22px !important;
  background-color: Gainsboro !important;
}
h1 {
  text-align: center;
}
body {
  padding: 1rem !important;
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: Gainsboro !important;
}
img {
  width: 20%;
  height: 20%;
}
.center {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.squares {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}
.square {
  background-color: green;
  color: white;
  text-align: center;
  padding: 1rem;
  height: auto;
}
.column {
  float: left;
  width: 45%;
  height: 400px;
  padding: 8px;
  border: double;
  border-color: black;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 600px) {
  .squares {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .squares {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.navbar {
  overflow: hidden !important;
  background-color:Gainsboro !important;
}

.navbar a {
  float: left !important;
  font-size: 16px !important;
  color: white !important;
  text-align: center !important;
  padding: 14px 16px !important;
  text-decoration: none !important;
}

.dropdown {
  float: left !important;
  overflow: hidden !important;
}

.dropdown .dropbtn {
  font-size: 16px !important;  
  border: none !important;
  outline: none !important;
  color: white !important;
  padding: 14px 16px !important;
  background-color: black !important;
  font-family: inherit !important;
  margin: 0 !important;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: green !important;
}

.dropdown-content {
  display: none !important;
  position: absolute !important;
  background-color: #f9f9f9 !important;
  min-width: 160px !important;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
  z-index: 1 !important;
}

.dropdown-content a {
  float: none !important;
  color: black !important;
  padding: 12px 16px !important;
  text-decoration: none !important;
  display: block !important;
  text-align: left !important;
}

.dropdown-content a:hover {
  background-color:green !important;
  color: white !important;
}

.dropdown:hover .dropdown-content {
  display: block !important;
}

.container {
  width:40%;
  margin-right:auto;
  margin-left:auto;
  max-width:1140px;
  background-color: green;
  color: white;
  text-align: center;
  padding: 1rem;
  height: 40%;
}

.form-group {
  display:-ms-flexbox;
  display:flex;
  -ms-flex:0 0 auto;
  flex:0 0 auto;
  -ms-flex-flow:row wrap;
  flex-flow:row wrap;
  -ms-flex-align:center;
  align-items:center;
  margin-bottom:0;
  width:auto
}
  
.form-group {
  margin-bottom:1rem
}

.form-text {
  display:block;
  margin-top:.25rem
}

.form-control {
  display:block;
  width:100%;
  height:1.5em;
  padding:.350rem;
  line-height:1.5;
  color:green;
  background-color:white;
}

.btn {
  font-size: 16px !important;  
  color: green !important;
  padding: 14px 16px !important;
  background-color: white !important;
  font-family: inherit !important;
  
}